{% set image = apos.image.first(data.widget.image) %}

{% if data.widget.overlaySpacingTop %}
<div class="spacing-widget" style="padding-top: {{ data.widget.overlaySpacingTop }}px;"></div>
{% endif %}

<div class="image-overlay-widget {{ data.widget.imageAlignment }} position-relative">
  {% if image %}
    <img 
      src="{{ apos.attachment.url(image, { size: 'original' }) }}" 
      alt="{{ image.alt or '' }}" 
      class="custom-image img-fluid" 
      style="
        {% if data.widget.imageWidth %}max-width: {{ data.widget.imageWidth }};{% endif %}
        {% if data.widget.imageHeight %}max-height: {{ data.widget.imageHeight }};{% endif %}
      ">
  {% endif %}
  
  <!-- Overlay content -->
  <div class="overlay-content-wrapper position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100">
    {% if data.widget.title %}
      <h2 class="text-center {{ data.widget.textSize }} {{ data.widget.textColor }}">{{ data.widget.title }}</h2>
    {% endif %}

    {% if data.widget.description %}
      <p class="text-center {{ data.widget.textColor }}">{{ data.widget.description }}</p>
    {% endif %}

    {% if data.widget.buttonText and data.widget.buttonUrl %}
      <a href="{{ data.widget.buttonUrl }}" class="btn {{ data.widget.style }}">{{ data.widget.buttonText }}</a>
    {% endif %}
  </div>
</div>

{% if data.widget.overlaySpacingBottom %}
<div class="spacing-widget" style="padding-bottom: {{ data.widget.overlaySpacingBottom }}px;"></div>
{% endif %}
