{% set image = apos.image.first(data.widget.image) %}

{%if data.widget.overlaySpacingTop %}
<div class="spacing-widget" style="padding-top: {{ data.widget.overlaySpacingTop }}px;"></div>
{% endif %}

<div class="image-overlay-widget {{ data.widget.imageAlignment }}" style="position: relative;">
  {% if image %}
    <img 
      src="{{ apos.attachment.url(image, { size: 'original' }) }}" 
      alt="{{ image.alt or '' }}" 
      class="custom-image" 
      style="
        {% if data.widget.imageWidth %}width: {{ data.widget.imageWidth }};{% else %}width: 100%;{% endif %}
        {% if data.widget.imageHeight %}height: {{ data.widget.imageHeight }};{% else %}height: auto;{% endif %}
      ">
  {% endif %}
 <!-- if text and button are on the same alignment -->
  {% if data.widget.textAlignment == data.widget.buttonAlignment and data.widget.buttonAlignment == data.widget.textAlignment %}
    <!-- Both text and button centered -->
    <div class="overlay-content text-center {{data.widget.textAlignment}}" style="position: absolute;">
      {% if data.widget.title %}
        <h2 class="{{ data.widget.textSize }} {{ data.widget.textColor }}">{{ data.widget.title }}</h2>
      {% endif %}

      {% if data.widget.buttonText and data.widget.buttonUrl %}
        <a href="{{ data.widget.buttonUrl }}" class="btn {{ data.widget.style }}">{{ data.widget.buttonText }}</a>
      {% endif %}
    </div>
  {% else %}
    <!-- Separate text and button alignment -->
    <div class="overlay-content {{ data.widget.textAlignment }}" style="position: absolute;">
      {% if data.widget.title %}
        <h2 class="{{ data.widget.textSize }} {{ data.widget.textColor }}">{{ data.widget.title }}</h2>
      {% endif %}
      
      {% if data.widget.description %}
        <p class="{{ data.widget.textColor }}">{{ data.widget.description }}</p>
      {% endif %}
    </div>

    {% if data.widget.buttonText and data.widget.buttonUrl %}
      <div class="overlay-button {{ data.widget.buttonAlignment }}" style="position: absolute;">
        <a href="{{ data.widget.buttonUrl }}" class="btn {{ data.widget.style }}">{{ data.widget.buttonText }}</a>
      </div>
    {% endif %}
  {% endif %}
</div>

{%if data.widget.overlaySpacingBottom %}
<div class="spacing-widget" style="padding-bottom: {{ data.widget.overlaySpacingBottom }}px;"></div>
{% endif %}
