.image-overlay-widget {
    position: relative;
  }
  
  .image-overlay-widget img {
    width: 100%; /* Default width */
    height: auto; /* Maintain aspect ratio */
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;


  }
