<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ data.title || 'FPAS - Financial Planning Association of Singapore' }}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.png" sizes="192x192">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="{{ stylesPath || 'styles.469ff836fdb937b2421f.css' }}">
</head>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  window.onload = function () {
    AOS.init({
      delay: 250,
      duration: 2000,
    });
  };

  document.addEventListener("scroll", function (e) {
    AOS.init({
      debounceDelay: 50,
      throttleDelay: 1000,
      delay: 250,
      duration: 2000,
      offset: 400,
    });
  });
</script>

<body>
  <app-root></app-root>

  <script src="runtime-es2015.66c79b9d36e7169e27b0.js" type="module"></script>
  <script src="runtime-es5.66c79b9d36e7169e27b0.js" nomodule defer></script>
  <script src="polyfills-es5.f3a81ed603fe4693dccd.js" nomodule defer></script>
  <script src="polyfills-es2015.9e78578a93dd4d329e6e.js" type="module"></script>
  <script src="scripts.61acd3279639d4d36b99.js" defer></script>
  <script src="main-es2015.7f130a3dd073f0620584.js" type="module"></script>
  <script src="main-es5.7f130a3dd073f0620584.js" nomodule defer></script>
</body>

</html>
